* {
    border: 2px solid red;
    border-radius: 5px;
    padding: 2px;
}
body {
    background-color: teal;
    font-family: 'Georgia', 'Times New Roman', Arial;
    text-align: center;
}
li {
    width: 500px;
    margin: 0 Auto;
}

.headings {
    color: rgb(51, 255, 0);
    background-color: rgb(225, 151, 60);
}

.alert {
    color: rgb(242, 0, 255);
}



