/* * { 
     border: 1px; 
}*/
body {
    background-color: rgba(21, 21, 46, 0.684);
    color: antiquewhite;
    font-family: 'arial', 'Times New Roman', Arial;
    text-align: center;
    /* width: 750px;     */
    list-style-position: inside;
}
li {
    /* width: 500px; */
    /* margin: 0 Auto; */
}
.headings1 {
   color: antiquewhite;
    background-color: rgba(58, 67, 109, 0.588);
    padding: 4px;
    margin: 8px;
    /* border: 1px solid rgb(0, 128, 255); */
    border-radius: 5px;
}
.headings3 {
    background-color: rgba(58, 67, 109, 0.588);
    padding: 4px;
    margin: 8px;
    /* border: 1px solid rgb(0, 128, 255); */
    border-radius: 5px;
}
.section {
    color: antiquewhite;
    padding: 4px;
    /* margin: 8px; */
    background-color: rgba(58, 67, 109, 0.588);
    border-radius: 5px;
    /* border: 1px solid rgb(0, 128, 255); */
    /* border-style: groove; */
    
}

.tip-text {
    color: rgba(10, 255, 120, 0.551);
    /* border: solid 1px red; */
    
}
.alert-box {
    display: flex;
    /* border: solid red 1px; */
    flex: 1 1 auto;
    float: top-right;
    shape-outside: square;
    /* height: 300px; */
    /* width: 400px; */
    justify-content: center;
}
.steps-text-box {
    display: flex;
    flex-direction: column;
    /* border: solid yellow 1px; */
    flex: 1;
     
}
#steps-roast {
    /* border: solid purple; */
    flex: 1 1 auto;
    align-content: center; 
}
 /* #blank-box-roast {  
    width: 300px;
    height: 200px;
    border: 1px solid rgb(14, 5, 5);
    display: flex;
    flex: initial;
    margin: 8px;
    margin-top: 16px;
}*/

