/* * { 
     border: 1px; 
} */
body {
    background-color: rgba(21, 21, 46, 0.684);
    color: antiquewhite;
    font-family: 'arial', 'Times New Roman', Arial;
    text-align: center;
    /* width: 750px;     */
    list-style-position: inside;
}

/* li {
     width: 500px; 
     margin: 0 Auto; 
} */
.headings1,
.headings2 {
    color: antiquewhite;
    background-color: rgba(58, 67, 109, 0.588);
    padding: 4px;
    margin: 8px;
    /* border: 1px solid rgb(0, 128, 255); */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
/* .headings2 { 
    color: antiquewhite;
    background-color: rgba(58, 67, 109, 0.588);
    padding: 4px;
    margin: 8px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
} */
.headings3 {
    background-color: rgba(58, 67, 109, 0.588);
    padding: 4px;
    margin: 8px;
    /* border: 1px solid rgb(0, 128, 255); */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.section {
    color: antiquewhite;
    padding: 4px;
    /* margin: 8px; */
    background-color: rgba(58, 67, 109, 0.588);
    border-radius: 5px;
    /* border: 1px solid rgb(0, 128, 255); */
    /* border-style: groove; */
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); */
    
}

.tip-text {
    color: rgba(255, 255, 255, 0.551);
    border: solid 1px rgba(255, 255, 255, 0.551);
    border-radius: 5px;
    padding:7px;
    
}
.alert-box {
    display: flex;
    /* border: solid red 1px; */
    flex: 1 1 auto;
    float: top-right;
    shape-outside: square;
    /* height: 300px; */
    /* width: 400px; */
    justify-content: center;
}
.steps-text-box {
    display: flex;
    flex-direction: column;
    /* border: solid yellow 1px; */
    flex: 1;
     
}
#steps-roast {
    /* border: solid purple; */
    flex: 1 1 auto;
    align-content: center; 
}
 /* #blank-box-roast {  
    width: 300px;
    height: 200px;
    border: 1px solid rgb(14, 5, 5);
    display: flex;
    flex: initial;
    margin: 8px;
    margin-top: 16px;
}*/

.button-container {
    display: flex;
    justify-content: center;
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: rgba(58, 67, 109, 0.588); 
    color: #ffffff; 
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    /* NB!must make this button look the same as the buttons in the feedback section NB */
}
button:hover {
    background-color: rgba(91, 100, 144, 0.588)
}
img {
    box-shadow: 2 2px 5px rgba(0, 0, 0, 0.3);
}
/* #feedback-parent-box {
    display: flex;
}
#image-feedback-box {
    flex: 1;
}
#feedback-box {
    flex: auto;
    flex-basis: 90px;
    border: solid red 1px;
} */
#select-fav {
    color: #ffffff; 
    background-color: rgba(98, 114, 197, 0.588);
    height: 45px;
    width: 200px;
    border: 1px solid #808080;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    font-size: 16px;
    font-family: 'arial', 'Times New Roman', Arial;
}
#select-fav:hover {
    background-color: rgba(98, 134, 197, 0.588);
}

#next-recipe-inp {
    color: #ffffff; 
    background-color: rgba(98, 114, 197, 0.588);
    /* height: 45px;*/
    width: 200px; 
    border: 1px solid #808080;
    padding: 10px;
    border-radius: 5px;
    /* text-align: center; */
    font-size: 16px;
    font-family: 'arial', 'Times New Roman', Arial;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
} 

#next-recipe-inp::placeholder {
    color: rgba(250, 235, 215, 0.454);
}
#next-recipe-inp:hover {
    background-color: rgba(98, 134, 197, 0.588);
}